params {
    // Input parameters
    targets = "${projectDir}/targets.tsv"
    outdir = "${projectDir}/outputs"
    filetype = "yaml"
    fold = null
    skip_tarbell = false
    
    // STRING DB URLs
    string_seq_url = "https://stringdb-downloads.org/download/protein.sequences.v12.0/9606.protein.sequences.v12.0.fa.gz"
    string_links_url = "https://stringdb-downloads.org/download/protein.links.v12.0/9606.protein.links.v12.0.txt.gz"
    input = null

    // MSA parameters
    msa_input = null
    msa_db = "/gpfs/commons/home/sfriedman/projects/fork/ColabFold/colabfold_db"
    msa_out = "msa_results"
    squashfs = false
    alphafast = false
}

cleanup = true

trace {
    enabled = true
    overwrite = true
    file = 'trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
}

profiles {
    slurm {
        conda.enabled = true
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.pullTimeout = '30m'
    }
}