params {
    // Input parameters
    targets = "${projectDir}/targets.tsv"
    outdir = "${projectDir}/seq_files"
    filetype = "yaml"
    fold = null
    skip_tarbell = false
    
    // STRING DB URLs
    string_seq_url = "https://stringdb-downloads.org/download/protein.sequences.v12.0/9606.protein.sequences.v12.0.fa.gz"
    string_links_url = "https://stringdb-downloads.org/download/protein.links.v12.0/9606.protein.links.v12.0.txt.gz"
}

cleanup = true

process {
}

profiles {
    slurm {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${projectDir}/singularity_cache"
        process {
            executor = 'slurm'
            queue = 'cpu'
            cpus = 1
            memory = '4 GB'
            time = '1h'
            module = 'singularity'
            
            withName: 'BOLTZ_PREDICT|SETUP_BOLTZ_CACHE' {
                container = 'nvcr.io/nim/mit/boltz2:1.0.0'
                module = 'cuda'
                queue = 'gpu'
                clusterOptions = '--gres=gpu:l40s:1'
                memory = '64 GB'
                cpus = 8
                time = '72h'
            }
        }
    }
}
